{% extends 'registro/index.html' %}
{% load static %}

{% block content %}
<div id="carruselHome" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item carrusel-contenido">
            <img src="{% static 'img/adoptados/Apolo.jpg' %}" class="d-block w-100" alt="Apolo">
            <div class="carousel-caption d-none d-md-block">
                <h5>Apolo y su nueva familia</h5>
                <p>Nunca lo hemos visto tan feliz a este cachorro.</p>
            </div>
        </div>
        <div class="carousel-item carrusel-contenido">
            <img src="{% static 'img/adoptados/Duque.jpg' %}" class="d-block w-100" alt="Duque">
            <div class="carousel-caption d-none d-md-block">
                <h5>La nueva alegria</h5>
                <p>Duque es uno de los perros mas cariñosos, su nueva familia esta re-contenta.</p>
            </div>
        </div>
        <div class="carousel-item active carrusel-contenido">
            <img src="{% static 'img/adoptados/Tom.jpg' %}" class="d-block w-100" alt="Tom">
            <div class="carousel-caption d-none d-md-block">
                <h5>Tom y Jerry</h5>
                <p>Jerry es la nueva dueña de Tom, lo ha cuidado muchisimo, estamos contento por todo el cariño.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carruselHome" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carruselHome" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>

<div class="row justify-content-around info">
    <h4 class="info-fono">+56998765431</h4>
    <h4 class="info-desc">Rescate y adopcion de perros callejeros</h4>
    <div class="info-redes">
        <img src="{% static 'img/content/facebook.png' %}" alt="facebook" class="red-social">
        <img src="{% static 'img/content/google.png' %}" alt="google" class="red-social">
        <img src="{% static 'img/content/mail.png' %}" alt="mail" class="red-social">
        <img src="{% static 'img/content/twitter.png' %}" alt="twitter" class="red-social">
    </div>
</div>

<div class="row justify-content-center contenido shadow-sm p-3 bg-white rounded">
    <aside class="col-md-6">
        <h2>RESCATE</h2>
        <h4>ETAPA UNO</h4>
        <h4>__________</h4>
        <br>
        <p>Restamos perros en situacion de peligro y/o abandono. Los rehabilitamos y los preparamos para
            buscarles un hogar.</p>
        <img class="resc" src="{% static 'img/content/rescate.jpg' %}" alt="rescate">
    </aside>
    <section class="col-md-6">
        <img class="crowf" src="{% static 'img/content/crowfunding.jpg' %}" alt="crowfunding">
        <h2>CROWFUNDING</h2>
        <h4>FINANCIAMIENTO</h4>
        <h4>__________</h4>
        <br>
        <p>Sigue nuestras redes sociales para informarte acerca de las diversar campañas y actividades que
            realizaremos para obtener financiamiento para seguir ayudando.</p>
        <br>
        <span>
            <button type="button" class="btn btn-dark">Campañas</button>
        </span>
    </section>
</div>

<div class="galeria shadow p-3 mb-1">
    <h2>RESTACADOS</h2>
    <h4>__________</h4>
    <br>
    <div class="row justify-content-between fade-in">
        <img src="{% static 'img/rescatados/Bigotes.jpg' %}" alt="" class="col-4">
        <img src="{% static 'img/rescatados/Luna.jpg' %}" alt="" class="col-8">
    </div>

    <div class="row justify-content-between fade-in">
        <img src="{% static 'img/rescatados/Maya.jpg' %}" alt="" class="col d-block w-100">
    </div>

    <div class="row justify-content-between fade-in">
        <img src="{% static 'img/rescatados/Pexel.jpg' %}" alt="" class="col-4 d-block w-100">
        <img src="{% static 'img/rescatados/Wifi.jpg' %}" alt="" class="col-8 d-block w-100">
    </div>

    <div class="row justify-content-between fade-in">
        <img src="{% static 'img/rescatados/Oso.jpg' %}" alt="" class="col-8 d-block w-100">
        <img src="{% static 'img/rescatados/Chocolate.jpg' %}" alt="" class="col-4 d-block w-100">
    </div>
</div>

{% endblock %}