{% extends 'registro/index.html' %}
{% load static %}

{% block content %}
<div class="row content-section shadow mb-1 justify-content-center p-3">
    <fieldset class="form-group col-12">
        <legend class='border-bottom mb-4'>Album de Mascotas</legend>
    </fieldset>
    {% for pets in pet %}
    <div class="border rounded content-pet">
            <img class="image-pet" src="{{ pets.imagen.url }}" alt="{{ pets.nombre }}">
        <h2>{{ pets.nombre }}</h2>
        <h2>{{ pets.raza }}</h2>
        <h2>{{ pets.estado }}</h2>
        <p>{{ pets.descripcion|linebreaksbr }}</p>
    </div>
    {% endfor %}
</div>

{% endblock %}