.nav-itema > a, .nav-itema2 > a {
    color: white;
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #117a8b;
}

h4 {
    color: #5c5c5c;
}

aside {
    padding-left: 30px !important;
    text-align: right;
}

section {
    padding-right: 30px !important;
}

body>* {
    background-attachment: fixed;
}

footer {
    height: 100px;
}

.navegacion {
    background: #87d4b7;
}

.logo {
    padding-top: 0px;
    max-width: 250px;
    min-width: 250px;
}

.content-iconlog {
    display: flex;
}

.content-log1 {
    margin-right: 15px;
}

.btn-light {
    color: #212529;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
}

.btn-light:hover {
    color: #212529;
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    text-align: center;
    font-size: 1.1rem;
    width: 100%;
}

.navbar-brand {
    margin-right: 0;
    padding-right: 0;
}

.nav {
    width: 100%;
}

.nav-itema {
    padding-right: 0;
}

.nav-itema>a {
    vertical-align: sub;
}

.content-log2>.nav-itema {
    margin-right: 10px;
}

.content-log1 {
    margin-bottom: 8px;
}

.carrusel {
    background: #6dccaa;
}

.carrusel-contenido {
    max-height: 70vh;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.322);
}

/* tama単o lg (bootstrap) - MINIMO */

@media(min-width: 992px) {
    .content-log1 {
        display: none !important;
    }
}

/* tama単o lg (bootstrap) - MAXIMO */

@media(max-width: 991px) {
    .nav-itema {
        background: #6dccaa;
        border-bottom: 1px solid #87d4b7;
        height: 45px;
    }
    .nav {
        justify-content: center;
    }
    .content-log2, .info-fono, .info-desc {
        display: none !important;
    }
    .content-iconlog, .info-redes {
        width: 100%;
    }
    .info-redes {
        display: flex;
        justify-content: space-around;
        padding-left: 70px;
        padding-right: 70px;
    }
    .content-log1>* {
        padding-right: 12px;
        padding-left: 12px;
    }
}

/* tama単o de md (bootstrap) - MAXIMO */

@media(max-width: 768px) {
    aside, section {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .crowf {
        width: 70% !important;
        height: auto !important;
    }
    .resc {
        width: 70% !important;
        height: auto !important;
    }
}

@media(min-width: 997px) {
    .galeria {
        padding-left: 200px !important;
        padding-right: 200px !important;
    }
}

/* tama単o de xs (segun yo) - MAXIMO */

@media(max-width: 501px) {
    .content-iconlog {
        display: block;
    }
    .content-log1 {
        width: 100%;
        margin-right: 0px !important;
        margin-left: 0% !important;
    }
}

.info {
    background: #6dccaa;
    height: 70px;
}

.info-redes {
    padding-top: 10px;
}

.info-fono, .info-desc {
    padding-top: 15px;
}

.red-social {
    width: 48px;
    height: 48px;
}

.crowf {
    width: 80%;
    height: 50%;
}

.resc {
    width: 80%;
    height: 40%;
}

.contenido {
    padding-top: 25px;
}

.contenido>* {
    padding-top: 25px;
    padding-bottom: 25px;
}

.galeria {
    background-color: #87d4b7;
}

.galeria > div {
    padding-top: 15px;
    padding-bottom: 15px;
}

.fade-in {
    opacity: 0;
}

.content-section {
    padding-left: 16px;
    padding-right: 16px;
}
